html, body {
    margin: 0;
    padding: 0;
    color: salmon;
}

/* Header */

#header-main {
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

nav {
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    /* margin-bottom: 0; */
}

nav ul li {
    font-size: 1.3rem;
    width: 140px;
    text-align: center;
}

/* Sign In */

#sign-in-container {
    border: 1px solid black;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.username-container, .password-container {
    margin: 0 auto;
    width: 230px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#sign-in-form button {
    margin-top: 10px;
    margin-bottom: 15px;
}